<div class="container position-sticky project-list-container">
  <div class="row">
    <div class="col-md-12">
      <h2>My projects</h2>
    </div>    
  </div>

  <hr>
  
  <div class="row">
    <div class="col-md-4">
      <a href = "">
        <div class="card-project card">
          <div class="card-body">
            <h4 class="card-title">Title of project</h4>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">Coordinator</h6>
            <p class="card-text"> Description of a project as a summary of your work that the person in charge can see to admon.</p>
            <hr>
            <span class="badge badge-primary">Members</span>
            <span class="badge badge-success">Members</span>
            <span class="badge badge-warning">Members</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href = "">
        <div class="card-project card">
          <div class="card-body">
            <h4 class="card-title">Title of project</h4>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">Coordinator</h6>
            <p class="card-text"> Description of a project as a summary of your work that the person in charge can see to admon.</p>
            <hr>
            <span class="badge badge-primary">Members</span>
            <span class="badge badge-success">Members</span>
            <span class="badge badge-warning">Members</span>
          </div>
        </div>
      </a>
    </div>

      <div class="col-md-4">
        <a href = "">
          <div class="card-project card">
            <div class="card-body">
              <h4 class="card-title">Title of project</h4>
              <hr>
              <h6 class="card-subtitle mb-2 text-muted">Coordinator</h6>
              <p class="card-text"> Description of a project as a summary of your work that the person in charge can see to admon.</p>
              <hr>
              <span class="badge badge-primary">Members</span>
              <span class="badge badge-success">Members</span>
              <span class="badge badge-warning">Members</span>
            </div>
          </div>
        </a>
      </div>
  </div>
</div>
