<div class="container position-sticky project-list-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center"> My projects </h2>
    </div>    
  </div>

  <hr>
  
  <div class="row">    
    <div class="col-md-4">
      <app-card-summary-project></app-card-summary-project>
    </div>

    <div class="col-md-4">
      <app-card-summary-project></app-card-summary-project>
    </div>

    <div class="col-md-4">
      <app-card-summary-project></app-card-summary-project>
    </div>
  </div>
</div>
