<nav class="navbar nav-header navbar-expand-lg navbar-light bg-light border-bottom sticky-top">
  <a class="navbar-brand" href="#"><b>UCO</b> Desk</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="main-item-header nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="main-item-header nav-link" href="#">Projects</a>
      </li>

      <li class="nav-item">
        <a class="main-item-header nav-link" href="#">Tasks</a>
      </li>

      <li class="nav-item">
        <a class="main-item-header nav-link" href="#">Teams</a>
      </li>
    </ul>
    
    <div class="btn-group dropleft">
      <form class="form-inline input-group-sm my-2 my-lg-0">
        <div class = "toolbox-navbar">
          <a href="#1"><i class="tools-navbar material-icons">notifications</i></a>
          <a href="#2"><i class="tools-navbar material-icons">chat</i></a>
          <a href="#3"><i class="tools-navbar material-icons">settings</i></a>
        </div>
        
        <input type="text" class="form-control" placeholder="Search something" aria-label="Search" aria-describedby="button-addon2">
        
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-search-header btn-header" type="button" id="button-addon2"> <i class="material-icons">search</i></button>
        </div>
        
        <li class="nav-item dropdown">  
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="..\..\assets\avatar.png" alt="..." class="avatar-icon rounded-circle">
          </a>
          
          <div class="dropdown-menu dropdown-username" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"> <b>username</b> </a>
            
            <div class="dropdown-divider"></div>            
           
            <a class="dropdown-item" href="#"> <i class="material-icons dropdown-username-icon">account_circle</i> Profile</a>
            <a class="dropdown-item" href="#"> <i class="material-icons dropdown-username-icon">settings</i> Settings</a>
            
            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item" href="#"><i class="material-icons dropdown-username-icon">close</i> Sign out</a>
          </div>
        </li>
      </form>
    </div>
  </div>
</nav>