<div class="sidenav border-right">
  <div class="row">
    <div class="col-md-12">
        <div class="fixed-action-btn">
          <a href = "#" class="btn-floating btn-large red"> <i class="tool-sidenav large material-icons">apps</i></a>
        </div>

        <div class="fixed-action-btn">
          <a href = "#" class="btn-floating btn-large red"> <i class="tool-sidenav large material-icons">add</i></a>
        </div>

        <div class="fixed-action-btn">
          <a href = "#" class="btn-floating btn-large red"> <i class="tool-sidenav large material-icons">timeline</i></a>
        </div>
    </div>
  </div>
</div>